[Unit]
Description=Recompress idle, then huge pages in zram, then trigger memory compaction
Documentation="https://docs.kernel.org/admin-guide/blockdev/zram.html#recompression"
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="PARM='type=huge_idle'"
ExecStart=/usr/sbin/recompress-zram
