[Unit]
Description=Control timing to recompress zram devices

[Timer]
OnBootSec=2min
OnUnitActiveSec=3min
RandomizedDelaySec=1min
Unit=zram-recompression.service

[Install]
WantedBy=multi-user.target
