[Unit]
Description=Control timing to recompress zram pages

[Timer]
OnBootSec=3min
OnUnitActiveSec=1min
RandomizedDelaySec=6s
Unit=zram-recompression.service

[Install]
WantedBy=multi-user.target
