[Unit]
Description=Control timing to recompress ZRAM pages

[Timer]
OnBootSec=3min
OnUnitActiveSec=1s
RandomizedDelaySec=100ms
Unit=zram-recompression.service

[Install]
WantedBy=multi-user.target
