[Unit]
Description=Recompress pages of zram devices
Documentation="https://docs.kernel.org/admin-guide/blockdev/zram.html#recompression"
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash -c 'for device in /dev/zram*; do printf "max_pages=4096" >/sys/block/"${device##*/}"/recompress; done'
